@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
    scroll-behavior: smooth;
  }

  

  *{
    font-family: "Inter", serif;
    font-display: swap
  }

.rounded-xl {
    border-radius: 1rem;
  }
  .shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .bg-black {
    background: linear-gradient(135deg, #1e1e1e, #000);
    background-size: cover;
    background-repeat: no-repeat;
  }
  