@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", serif;
  font-display: swap
}

/* Styling for all <a> tags */
a {
  text-decoration: none!important;
}

footer {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 16px; /* Padding around footer */
  margin-top: 32px; /* Space above footer */
}
